Norangjul {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #e9ed0e;
    line-height: 1.5;
    background-color: #000;
    text-decoration: underline;
}

.parent {
    border: 1px solid black;
    margin: 1px;
    padding: 10px;
    text-align: center;
}

.child {
    display: inline-block;
    margin: 5px;
    background-color: skyblue;
    border: 1px solid black;
}